<template lang="pug">
  div(v-if="display")
    vue-recaptcha(:sitekey="sitekey" :loadRecaptchaScript="true" size="invisible" ref="recaptcha" @verify="onVerify")
    p.recaptcha-explanation This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import VueRecaptcha from "vue-recaptcha";
import config from "../../config";

@Component({
  components: { VueRecaptcha }
})
export default class Captcha extends Vue {
  get sitekey() {
    return config.recaptcha.publicKey;
  }

  onVerify() {
    console.debug("reCAPTCHA verified");
    this.$emit("verified");
  }

  execute() {
    if (!this.display) this.onVerify();
    else (this.$refs.recaptcha as any).execute();
  }

  get display() {
    return config.recaptcha.enable;
  }
}
</script>
