<template lang="pug">
  form.comment_form(@submit.prevent="onSubmit" v-if="expanded")
    .comment_form__field
      textarea.textarea.comment_form__body(v-model="body" name="body" placeholder="And what do you think?" autofocus ref="body")
      p.error-explanation#commentBodyError(v-if="errors.body" v-text="errors.body")
    .comment_form__bottom
      .field.comment_form__field
        input.input(type="text" v-model="signature" name="signature" placeholder="Your name...")
        p.error-explanation#commentSignatureError(v-if="errors.signature" v-text="errors.signature")
      button.button.is-success.comment_form__button(type="submit" :disabled="submitting") Submit
    captcha(ref="captcha" @verified="handleVerified")
  button.button.is-fullwidth.is-success.comments__expand_button(@click="expand" v-else) Leave a comment
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Captcha from "./Captcha.vue";
import Comment from "../models/Comment";
import { ValidationErrors } from "../../../../src/util/ValidationErrors";

@Component({ components: { Captcha } })
export default class CommentForm extends Vue {
  body: string = "";
  signature: string = "";
  submitting: boolean = false;
  expanded: boolean = false;
  errors: ValidationErrors<Comment> = {};

  @Prop(String) postId!: string;

  expand() {
    this.expanded = true;
  }

  async mounted() {
    await this.$nextTick();
    this.$refs.body && (this.$refs.body as HTMLTextAreaElement).focus();
  }

  async handleVerified() {
    const params = {
      body: this.body,
      signature: this.signature,
      postId: this.$props.postId
    };
    const res = await Comment.createComment(params);
    if (res.success) {
      this.$emit("newComment", res.comment);
      this.body = "";
      this.signature = "";
      this.errors = {};
      this.expanded = false;
    } else {
      this.errors = res.errors;
    }
    this.submitting = false;
  }

  async onSubmit(event) {
    this.submitting = true;
    (this.$refs.captcha as Captcha).execute();
  }
}
</script>
