<template lang="pug">
  .display-comments
    .comment(v-for="comment in comments" :key="comment.id")
      p.comment__meta
        span.comment__meta__signature(v-text="comment.signature")
        span.comment__meta__date  {{comment.insertedAt | date}}
        span.comment__meta__ip(v-if="comment.ip") , {{ comment.ip }}
      p.comment__text(v-html="$options.filters.md(comment.body)")
</template>

<script lang="ts">
import BlogHelper from "../../../../src/util/BlogHelper";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  filters: {
    date: BlogHelper.formatPostDate,
    md: BlogHelper.markdown
  }
})
export default class DisplayComments extends Vue {
  @Prop(String) postId!: string;
  @Prop({ type: Array }) comments!: Comment[];
}
</script>
