<template lang="pug">
  .comments
    h3.title.is-3(v-if="!loading" v-text="title")
    comment-form(:postId="postId" @newComment="appendComment")
    display-comments(:postId="postId" v-if="!loading" :comments="comments")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import DisplayComments from "./DisplayComments.vue";
import CommentForm from "./CommentForm.vue";
import Comments from "../models/Comment";

@Component({
  components: { DisplayComments, CommentForm }
})
export default class CommentApp extends Vue {
  @Prop(String) postId!: string;
  comments: Comment[] = [];
  loading: boolean = true;

  async created() {
    this.comments = await Comments.fetchComments(this.postId);
    this.loading = false;
  }

  appendComment(comment: Comment) {
    this.comments.unshift(comment);
  }

  get title() {
    switch (this.comments.length) {
      case 0:
        return "No comments";
      case 1:
        return "One comment";
      default:
        return `${this.comments.length} comments`;
    }
  }
}
</script>
