nav.admin_zone
  a.admin_zone__link.admin_zone__wordpress(href="javascript:void")
    i.fab.fa-wordpress.fa-fw
  a.admin_zone__link(href="/wp-admin")
    i.fas.fa-tachometer-alt.fa-fw
    | 2137.io
  a.admin_zone__link(href="/admin/posts/new")
    i.fas.fa-plus
    | New
  span.admin_zone__username
    | Howdy, #{user.displayName}
  a.admin_zone__link(href="/sign-out") Sign out
