.footer
  p © 2008-2020 Karol Moroz. Some rights reserved.
  small Background photo by <a href="https://unsplash.com/@lennonzf?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Lennon Cheng</a> on Unsplash.
