header.header
  a.header__left(href="/")
    img(src="/static/logo.svg", class="header__logo")
    .header__left__title The blog of Karol Moroz

  .header__right
    a(href="/", class="header__link") Home
    a(href="/blog", class="header__link") Blog
    if user
      a(href="/admin", class="header__link") Admin