extends layout

block body
  nav.breadcrumb(aria-label="breadcrumbs")
    ul
      li
        a(href="/") Home
  .content
    p Yo! My name is Karol Moroz. I am originally from Koszalin, Poland, but I tend to wander around the world, so the place of my residence is subject to changes. To date, I have lived in: Poznań, Poland; Chengdu, Sichuan Province, China; Taipei, Taiwan; and Hamburg, Germany.

    p I have several hobbies. For instance, when I was six, I could already read and write, albeit not very fluently, and it occurred to me that, perhaps, one day I will become a great writer. I am not so sure about that now, though. I majored in Chinese Studies in college, then I realized writing software is generally paid better than writing human languages.

    p On one beautiful May morning back in 2008, on my way to school, I decided to create a blog. For the next 10 years I have published my reflections on life, food, outdoor activities, creative writing, alcohol, interpersonal relations and various other topics.