<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link rel="stylesheet" href="https://use.typekit.net/zxu4xlb.css">
    link(rel="icon", type="image/png", href="/static/favicon.png")
    link(rel="stylesheet", href="/css/app.css")
    <script src="https://kit.fontawesome.com/f58caebd9f.js" crossorigin="anonymous"></script>
    if title
      title= `${title} | 2137.io`
    else
      title 2137.io
  body
    if user
      include includes/admin_zone
    .background#parallax
    include includes/header
    .container
      .card
        .card-content
          block body
    include includes/footer
    script(src="/js/app.js")