.admin_zone
  height: $admin-zone-height
  line-height: $admin-zone-height
  background: $admin-zone-bg
  color: $admin-zone-fg
  font-size: $admin-zone-font-size
  display: flex
  position: fixed
  left: 0
  right: 0
  z-index: 100

  a, span
    font-size: $admin-zone-font-size
    padding: 0 8px 0 7px
    height: $admin-zone-height
    line-height: $admin-zone-height
    display: flex
    align-items: center

  a
    color: inherit
    &:hover
      color: $admin-zone-hover-fg
      background: $admin-zone-hover-bg
      .fas, .fab
        color: inherit

  + .background
    top: $admin-zone-height
  ~ .header
    padding-top: calc(#{$admin-zone-height} + #{$header-padding})

.admin > .admin_zone
  position: static

.admin_zone__link
  .fas, .fab, svg
    color: rgba(240, 245, 250, 0.6)
    fill: rgba(240, 245, 250, 0.6)
    font-size: 1.1em
    height: 1.1em
    margin-right: 8px
    line-height: $admin-zone-height

.admin_zone__wordpress
  margin: 0
  padding: 0 7px
  .fab.fa-wordpress, svg
    margin: 0
    font-size: 20px
    height: 20px

  .svg-inline--fa
    display: inline-block
    width: 25px

.admin_zone__username
  margin-left: auto
