html
  font-size: 16px

body
  margin: 0
  background: $body-bg
  color: #000
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $body-font
  font-size: 1.25rem
  line-height: 1.6
  +mobile
    font-size: 1.1rem

h1
  color: $dark-grey
  text-align: center

.background
  height: 1 / 1.618 * 100vh
  // ignore parallax effects on mobile
  +mobile
    height: 1 / 1.618 * 100vh !important
  position: fixed
  top: 0
  left: 0
  right: 0
  background: $overlay-gradient, url(/static/bg.jpg)
  background-size: cover
  background-position: center 0
  z-index: 0

.container
  flex: 1
  margin: 0 auto
  max-width: $container-width
  width: $container-width
  @media screen and (max-width: #{$container-width - 1})
    width: 100%

nav.breadcrumb
  +mobile
    > ul
      display: flex
    font-size: .8em
    > ul li
      &:last-child
        flex: 1
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

.notification
  font-size: 1.1rem
  line-height: 1.35
