.post_grid
  display: grid
  grid-template-columns: repeat(auto-fill, minmax($post-card-width, 1fr))
  grid-gap: 1em
  grid-auto-rows: $post-card-height
  align-items: stretch

.post__content, .content
  font-family: $content-font

.post_card__content
  flex: 1
  padding: 1.25rem
  overflow: hidden
  line-height: 1.2
  color: $primary

.post_card
  overflow: hidden
  color: #333
  display: flex
  flex-direction: column
  text-decoration: none

.post__header
  hr
    margin: 1em 0

.post_card__footer
  height: 3rem
  display: flex
  justify-content: space-around
  border-top: 1px solid #eee
  font-size: .8em
  line-height: 3rem

.post__header__metadata
  display: flex
  justify-content: center
  font-size: .8em
  margin-bottom: .5em

  > *
    padding: 0 .5em

h1.post__header__title
  font-size: 1.6em

.post_card__footer,
.post__header__metadata
  .fas
    margin-right: .33em
    color: #666

.login_page
  background-color: Salmon
  color: Salmon

nav.pagination
  margin-top: 2em