.comment
  &:not(:last-child)
    margin-bottom: .75em

.comment__meta__signature
  display: inline-block
  font-weight: bold
  margin-right: .25em

.comment__meta__date
  color: #666

.comment_form
  margin-bottom: 1.5rem

.comments__expand_button
  margin-bottom: 1rem
  margin-top: -.5rem

.comment_form__body
  border-radius: 4px 4px 0 0
  resize: none

  &:focus
    border-color: $green
    box-shadow: 0 0 0 0.125em transparentize($green, .75)

.comment_form__bottom
  display: grid
  grid-template-columns: 1fr auto
  align-items: center
  grid-gap: .75rem
  width: 100%
  padding: 0 .5rem
  background: $light-grey
  height: calc(#{$control-height} + .5rem)
  border-radius: 0 0 4px 4px

  .field
    margin-bottom: 0

    input
      border: none
      outline: none
      box-shadow: none
      background: none

.comment_form__button
  width: 120px

.recaptcha-explanation
  font-size: .6em
  line-height: 1.2
  color: #999
  margin-top: .5em
  text-align: center

.comment_form
  .error-explanation
    font-size: .8em
    color: $red
    background-color: transparentize($red, .9)
    display: inline-block
    position: absolute
    padding: 0 .3em

.comment_form__field
  position: relative

#commentBodyError
  bottom: .5em
  left: .5em

#commentSignatureError
  right: .5em
  top: 50%
  transform: translateY(-50%)
