.header
  color: #fff
  padding: $header-padding
  display: flex
  justify-content: space-between
  z-index: 1
  margin-bottom: 1.15rem
  +tablet
    margin-bottom: 2.5rem
a.header__left
  color: inherit

.header__logo
  height: 3.25rem

.header__left__title
  text-align: center
  font-size: .8em
  line-height: 0
  +tablet
    line-height: 1
    font-size: 1.2em

a.header__link
  &, &:hover, &:visited
    color: inherit
    text-decoration: none
  text-transform: uppercase
  padding: 1rem
