body.login
  height: 100vh
  font-family: $font-wordpress
  background: $login-page-bg
  overflow-y: hidden
  &::-webkit-scrollbar
    display: none

.login_group
  display: flex
  flex-direction: column
  margin: 155px auto 0

.login__card
  border-radius: 0
  width: $login-card-width
  display: flex
  flex-direction: column
  font-size: 1rem
  padding: 26px 24px 46px
  border: 1px solid #ccd0d4
  box-shadow: 0 1px 3px rgba(0,0,0,.04)

  .label
    color: #444
    font-weight: normal
    font-size: 14px
    margin-bottom: 2px

  input
    margin-bottom: 1rem
    background: #fbfbfb
    border: 1px solid #7e8993

  .field
    margin-bottom: 0

.login__card__logo
  width: 10rem
  margin: 0 auto 30px

.login__goback
  font-size: 1rem
  color: $login-goback-color
  margin: 1rem

input.login__submit
  float: right
  margin: 0
  height: 2rem
  background: #007cba !important
  border: none
  font-family: $font-wordpress
  color: #fff
  font-size: 13px !important
  font-size: 1rem
