@import variables
@import bulma
@import base
@import typography
@import header
@import blog
@import login
@import comments
@import admin_zone
@import admin/import

.footer
  text-align: center
  background: $light-grey
  font-size: .9rem
  color: $dark-grey
  margin-top: 2rem
  min-height: 6rem
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

img
  max-width: 100%

input.input
  &::placeholder
    color: #999

.grecaptcha-badge
  visibility: hidden