#root
  flex: 1
  overflow: auto
  display: flex
  font-family: $admin-font-family
  font-size: 15px
  overflow: hidden

.admin_sidebar
  background: $admin-sidebar-bg
  width: $admin-sidebar-width
  color: $admin-zone-fg
  font-size: $admin-zone-font-size
  padding-top: .5em
  display: flex
  flex-direction: column

.admin_sidebar__link
  height: $admin-sidebar-item-height
  line-height: $admin-sidebar-item-height
  color: inherit
  display: flex
  align-items: center

  &:hover
    color: $admin-zone-hover-fg
    background: $admin-sidebar-hover-bg

  svg
    display: inline-block
    width: $admin-sidebar-item-height
    fill: currentColor
    height: 1.1em

a.admin_sidebar__link--active.admin_sidebar__link
  color: $admin-sidebar-active-fg
  background-color: $admin-sidebar-active-bg

.admin_app
  display: grid
  grid-template-columns: $admin-sidebar-width 1fr
  width: 100vw
  height: 100vh
  grid-template-rows: $admin-zone-height 1fr

  .admin_zone
    position: static
    grid-column: 1 / span 2

main
  overflow: auto
  padding: 1.25rem
  display: flex
