.table.post_table
  width: 100%
  table-layout: fixed

  tbody tr
    cursor: pointer

td.post_number, th.post_number
  width: 3.5rem
  text-align: center !important

td.post_categories, th.post_categories,
td.post_date, th.post_date
  width: 7rem
  text-align: center !important

.edit_post
  display: flex
  flex-direction: column
  width: 100%

textarea.edit_post__body
  font-family: $font-code
  background: transparent
  width: 100%
  height: 100%
  font-size: 1rem
  border: none
  line-height: 1.6

  &:focus
    border: none
    outline: none