nav.pagination.is-centered(role="navigation" aria-label="pagination")
  //- https://evdokimovm.github.io/javascript/nodejs/mongodb/pagination/expressjs/ejs/bootstrap/2017/08/20/create-pagination-with-nodejs-mongodb-express-and-ejs-step-by-step-from-scratch.html
  ul.pagination-list
    - const distance = 5
    - var current = page.page, total = page.totalPages, i = (Number(page.page) > distance ? Number(current) - (distance - 1) : 2)
    if current == 1
      li: a.pagination-link.is-current 1
    else
      li: a.pagination-link(href="/blog?page=1") 1
    if i !== 2
      li: span.pagination-ellipsis &hellip;
    - for(; i <= (Number(current) + (distance - 1)) && i < total; i ++) {
      if current == i
        li: a.pagination-link.is-current(aria-label=`Goto page ${i}`)= i
      else
        li: a.pagination-link(aria-label=`Goto page ${i}` href=`/blog?page=${i}`)= i
    - }
    if i < total
      li: span.pagination-ellipsis &hellip;
    if current == total
      li: a.pagination-link.is-current= current
    else
      li: a.pagination-link(href=`/blog?page=${total}`)= total