extends ../layout

block body
  nav.breadcrumb(aria-label="breadcrumbs")
    ul
      li
        a(href="/") Home
      li
        a(href="/blog") Blog
  h1.title Blog archive
  .post_grid
    for post in page.entries
      a.post_card.card(href=`/blog/${post.slug}`)
        .post_card__content
          span.post_card__title= blog.formatTitle(post)
        .post_card__footer
          span.post_card__date
            i.fas.fa-calendar-day
            = blog.formatPostDate(post.insertedAt)
          span.post_card__language
            i.fas.fa-globe-europe
            = blog.formatLang(post)

  include _pagination