extends ../layout

block body
  nav.breadcrumb(aria-label="breadcrumbs")
    ul
      li
        a(href="/") Home
      li
        a(href="/blog") Blog
      li
        a= blog.formatTitle(post)
  .post.content
    .post__header
      h1.post__header__title= blog.formatTitle(post)
      .post__header__metadata
        span.post__header__metadata__date
          i.fas.fa-calendar-day
          = blog.formatPostDate(post.publishedAt || post.insertedAt)
        span.post__header__metadata__lang
          i.fas.fa-globe-europe
          = blog.formatLang(post)
        span.post__header__metadata__views
          i.fas.fa-eye
          = `${post.viewCount} views`
      hr

    .post__content.content(lang=post.language)
      != markdown(post.body)

  #commentApp(data-post-id=post.id)
  script(src="/js/comments.js")