<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link rel="stylesheet" href="https://use.typekit.net/zxu4xlb.css">
    link(rel="icon", type="image/png", href="/static/favicon.png")
    link(rel="stylesheet", href="/css/app.css")
    <script src="https://kit.fontawesome.com/f58caebd9f.js" crossorigin="anonymous"></script>
    if title
      title= `${title} | 2137.io`
    else
      title 2137.io
  body.login
    .login_group
      img.login__card__logo(src="/static/logo-dark.svg")
      include ../includes/flash
      .card.login__card
        form.login__form(action="/wp-login.php", method="POST")
          .field
            label.label Username or Email Address
            .control
              input.input(type="text", name="email", autofocus)

          .field
            label.label Password
            .control
              input.input(type="password", name="password")

          input.button.is-small.login__submit(type="submit", value="Log In")

      a.login__goback(href="/") ← Back to 2137.io
